---
layout: default
---

<style>
  .post {
    display: flex;
    align-items: flex-start;
  }

  .post img {
    width: 30%;
    height: auto;
    margin-left: 20px;
    align-self: center;
  }

  .post .entry {
    clear: both;
  }

  .post .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .post .tags div {
    padding: 5px 10px;
    background-color: #f2f2f2;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
  }

  @media only screen and (max-width: 700px) {
    .post img {
      width: 100%;
      height: auto;
      margin-left: 0px;
      align-self: center;
    }
  }
</style>

<div class="posts">
  {% for post in site.posts %}
  <article class="post">
    <div>
      <img src="{{ post.image }}">
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="entry">{{ post.excerpt }}</div>
      <div class="tags">
        {% for tag in post.tags %}
        <div>{{ tag }}</div>
        {% endfor %}
      </div>
    </div>
  </article>
  {% endfor %}
</div>