---
layout: default
---

<style>
  .post {
    display: flex;
    align-items: flex-start;
  }
  .post img {
    width: 30%; /* Adjust the size as per your requirement */
    height: auto;
    margin-left: 20px;
    align-self: center; /* This line vertically centers the image */
  }
  .post .entry {
    clear: both;
  }
  .post .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .post .tags div {
    padding: 5px 10px;
    background-color: #f2f2f2;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
</style>

<div class="posts">
  {% for post in site.posts %}
  <article class="post">
    <div>
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="entry">{{ post.excerpt }}</div>
      <div class="tags">
        {% for tag in post.tags %}
          <div>{{ tag }}</div>
        {% endfor %}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </div>
    <img src="{{ post.image }}" alt="Italian Trulli">
  </article>
  {% endfor %}
</div>